.cover {
  margin-top: 20%;
}

/* https://typecast.com/blog/a-more-modern-scale-for-web-typography */

h1 {
  font-size: 3em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 6em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height 
    and something more appropriate for display headings */
  }
}
